body{
  width : 100%;
}
#start-button{
  width: 120px;
  height: 25px;
  border-radius: 3px;
  margin-bottom: 3px;
}
.class-wrapper{
  margin: auto;
}

#imgCopy{
  border: 1px solid;
}

#catagory{
  font-weight: bold;
}

a:not([href]) {
  font-family: sans-serif;
  border-spacing: 20px;
  border: 1px solid;
  border-radius: 5px;
   /* Styles for anchors without href */
}

#refresh-page-button{
  font-family: sans-serif;
  border: 1px solid;
  border-radius: 5px;
  background-color: white;
  font-size: 12px;
}
#color-red{
  background-color: red;
}
#color-purple{
  background-color: purple;
}
#color-yellow{
    background-color: yellow;
}
#color-orange{
    background-color: orange;
}
#color-blue{
    background-color: blue;
}
#color-light-blue{
    background-color: #43E9FD;
}
#color-green{
    background-color: green;
}
#color-orange{
    background-color: orange;
}
#color-black{
    background-color: black;
}

#erase{
  background-size: 45px 50px;
  background-image: url("eraser.jpg");
}

table{
  display: inline-block;
  vertical-align: top;
  margin-right: 100px;
}
tr{
  border: 1px solid;
  width:35;
  height:40px;
}
td{
  border: 1px solid;
    width:34px;
    height:35px;
}
